body  {
  background-color: lightcyan;
  font-size: 1.5em;
  margin: 6px;
  padding: 6px;
  color: black;
}

.center-text  {
  text-align: center;
}

.left-text {
  text-align: left;
}

.initial-hide {
  display: none;
}

.background-blue {
  background-color: lightblue;
}

.pad-top {
  padding-top: 18px;
}

.pad-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pad-panel  {
  padding: 6px;
}

.btn-on {
  background-color: PaleGreen;
  font-size: 1em;
}

.btn-off {
  background-color: Aqua;
  font-size: 1em;
}
